@{ Layout = "~/Views/Shared/_ZucMarketingLayout.cshtml";

	ViewBag.Title = "Mega page";	
}
<section class="megaPage-container width-80 center">
	<div class="flex flex-vert-center flex-hor-center">
		<img src="" alt="" class="center">
		<span class="mega-border"></span>
		<p class="mega-title">We have your solutions.<br>Nous avons vos solutions.</p>
		<span class="mega-border"></span>
		<img src="" alt="" class="center">
	</div>
</section>